/* general styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal !important;
}

main {
  margin-top: 4rem;
  min-height: calc(100vh - 4rem);
}

.no-data {
  padding: 4rem 0;
}

.loading {
  padding: 4rem 0;
}

.orange {
  color: #ff8c00;
}

.thick {
  border: none;
  height: 2px;
  color: black;
  background-color: black;
}

.huge {
  font-size: 8rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.signature {
  display: flex;
}

.logo-gray {
  height: 2rem;
  margin-right: 1rem;
  filter: grayscale(100%);
}

/* override bootstrap classes */

.card-title {
  font-weight: bold !important;
}

.btn-danger {
  margin-right: 1rem;
}
