* {
  box-sizing: border-box;
}

.main {
  margin: 4rem 0 0 0;
}

.container-side {
  padding: 2rem;
  width: 48rem;
}

.container-center {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

.center {
  width: 40%;
  min-width: 20rem;
}
