ul {
  list-style: none;
  padding-left: 0;
}

.card img {
  width: 8rem;
  border-radius: 12px;
  margin-right: 1rem;
}

.card {
  color: black;
  flex-direction: row;
  padding: 1rem 0;
  border: none;
}

a:hover {
  text-decoration: none;
}
