/* general styles for centered views */

.center {
  display: flex;
  justify-content: center;
}

.form-wrapper {
  padding-top: 4rem;
  width: 24rem;
}

.view-wrapper {
  padding-top: 4rem;
  width: 48rem;
}

.error-center {
  position: absolute;
  top: 6rem;
  left: calc(50% - 11rem);
  width: 22rem;
  max-height: 5rem;
  overflow: hidden;
}

/* specific styles for centered views */

#home-main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
  background-image: url("../images/home.jpeg");
  background-size: cover;
  background-position: center;
}

#home-top-row label {
  color: white;
  font-weight: bold;
}

#home-bottom-row {
  margin-top: 4rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

#home-bottom-row h3 {
  color: #ff4c00;
}

#home-bottom-row p {
  font-weight: 500;
}

#about-text {
  padding-right: 4rem;
}

#about-image {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  #about-image {
    margin-top: 2rem;
  }
}
